:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffff;
  --primary-bg-color: #f5f4fa;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: #dbd1d1;
}

.list {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.page {
  color: var(--primary-text-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 66;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
img {
  display: block;
  max-width: 100%;
}
/*-----------Header---------- */
.header {
  background-color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.site-logo {
  margin-right: 93px;
}

.site-logo {
  color: #000000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-blue {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.site-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.19;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .site-nav-link:hover,
.site-nav .site-nav-link:focus {
  color: var(--accent-color);
}

.nav-item:last-child {
  margin: 0;
}
.nav-item {
  position: relative;
  margin-right: 50px;
}

.current {
  color: var(--accent-color);
}

.nav-item .current::after {
  content: "";
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: -1px;
  left: 0px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contact-item {
  margin-right: 50px;
}
.contact-nav .contact-item:last-child {
  margin: 0;
}
.contact-nav {
  margin-left: auto;
  display: flex;
}
.contact-nav-item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.19;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-nav :hover,
.contact-nav :focus {
  color: var(--accent-color);
}
.contact-nav {
  display: flex;
  align-items: center;
  transition: color var(--time-aniamtion) var(--cubic-bezier);
}

.contact-nav-item:hover .contact-icon,
.contact-nav-item:focus .contact-icon {
  fill: var(--accent-color);
}
.contact-icon {
  vertical-align: middle;
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*-------------------Main--------- */
.hero {
  max-width: 1600px;
  padding-bottom: 200px;
  padding-top: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background: #c4c4c4;
  border: 1px solid #000000;
  margin: auto;
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../image/herobackground.jpg");
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  text-transform: uppercase;
  line-height: 1.36;
  color: #ffff;
}

/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.backdrop.is-hidden .modal {
  transform: scale(0.8) translate(-50%, -50%);
}

.modal {
  position: absolute;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  width: 530px;
  height: 580px;
  padding: 15px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: scale(1) translate(-50%, -50%);
}
.modal-close-icon {
  position: absolute;
  display: flex;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon:hover,
.modal-close-icon:focus {
  fill: var(--accent-color);
}

.button {
  align-items: center;
  border: 1px solid transparent;
  text-align: center;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #188ce8;
}

.benefits {
  padding-top: 94px;
}
.icon-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 270px;
  margin-bottom: 30px;
  background-color: var(--primary-bg-color);
}
.modal-title {
  font-size: 20px;
  text-align: center;
  color: var(--title-text-color);
  display: block;
  margin-bottom: 20px;
}

.modal-form-field {
  margin-bottom: 15px;
  cursor: pointer;
}

.modal-form-label {
  font-size: 12px;
  color: var(--primary-text-color);
  display: block;
  margin-bottom: 4px;
}

.input-wrap {
  display: block;
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  cursor: pointer;
}

.modal-form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-form-input:hover,
.modal-form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form-input:hover + .modal-form-icon,
.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 12px;
  resize: none;
  cursor: pointer;
}

.modal-comment::placeholder {
  font-size: 12px;
}

.modal-comment:hover,
.modal-comment:focus {
  border-color: var(--accent-color);
  outline: none;
}

.check-label {
  display: flex;
  align-items: center;
}

.check-color {
  margin-left: 5px;
  color: var(--accent-color);
}

.icon-check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 5px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox {
  visibility: hidden;
}
.checkbox:checked + .check-label > .icon-check {
  background: var(--accent-color);
  border: transparent;
}

.form-btn {
  font-weight: 400;
  font-size: 16px;
  height: 50px;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: 0;
  padding: 10px 55px;
  color: #ffffff;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn {
  margin: 0 auto;
  display: block;
}

.benefits-title {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}
.list-item {
  margin-right: 30px;
  width: 270px;
}

.benefits-title-list {
  padding-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.list-item:last-child {
  margin-right: 0;
}

.benefits-content {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/*----- Our work------- */
.our-work {
  margin-top: 0;
}
.work-image {
  display: flex;
}
.work-item {
  position: relative;
  width: 370px;
  margin-right: 30px;
}
.work-image .item:last-child {
  margin-right: 0;
}
.work-title {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.work-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

/* --------Our Team----------- */
.work-title::after {
  display: flex;
  justify-content: center;
}
.team {
  background-color: #f5f4fa;
}
.team-name {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-title {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
}

.title-eng {
  text-align: center;
  margin-bottom: 16px;
}

.team {
  display: flex;
}

.team-item {
  width: 270px;
  margin-right: 30px;
  border: 1px solid #eeeeee;
  background-color: #ffffff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
/* .team .team-item {
  flex-basis: calc(100% / 4-30px);
  margin-right: 30px; */

.team .team-item:last-child {
  margin-right: 0;
}

.socials-item {
  margin-right: 10px;
}
.socials-item:last-child {
  margin-right: 0;
}

.socials-item {
  width: 44px;
  height: 44px;
}
.socials-list {
  display: flex;
  justify-content: center;
}

.socials-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover,
.socials-link:focus {
  background-color: var(--accent-color);
}
.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  fill: #ffffff;
}
.socials-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Our Clients */

.client-list {
  display: flex;
  justify-content: center;
}
.client-list-item {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  margin-right: 30px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.client-list-item:last-child {
  margin-right: 0;
}

.client-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list-item:hover,
.client-list-item:focus {
  border-color: var(--accent-color);
}
.client-link:hover,
.client-link:focus {
  color: var(--title-text-color);
}
.client-link:hover .client-icon,
.client-link:focus .client-icon {
  fill: var(--accent-color);
}

/* Footer */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #ffffff;
}
.address-map {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: #ffffff;
  letter-spacing: 0.03em;
}
/* .adrress {
  display: block;
} */

.address-link-mail {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing: 0.03em;
}
.address-link-tel {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing: 0.03em;
}

.address-link-tel .address-link-mail:hover,
.address-link-tel .adress-link-mail:focus {
  color: var(--accent-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-contact {
  margin-right: 70px;
}
.footer-socials-box {
  margin-right: 91px;
}
.footer-socials-title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-socials-item {
  width: 44px;
  height: 44px;
}
.footer-socials-item {
  margin-right: 10px;
}
.footer-socials-item:last-child {
  margin-right: 0;
}
.footer-socials {
  display: flex;
}
.footer-socials-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: var(--accent-color);
}
.footer-socials-link:hover .footer-socials-icon,
.footer-socials-link:focus .footer-socials-icon {
  fill: #ffffff;
}
.footer-socials-icon {
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe-form {
  margin-top: 20px;
}

.subscribe-input {
  width: 358px;
  height: 50px;
  color: var(--accent-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  margin-right: 12px;
}

.subscribe-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 28px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 0;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #188ce8;
}

.subscribe-icon {
  margin-left: 10px;
  fill: #ffffff;
}

/* -----Portfolio------ */
.portfolio-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn-item {
  margin-right: 8px;
}
.btn-item:last-child {
  margin-right: 0;
}
.button-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;

  background-color: #f5f4fa;
  border: 1px solid #eeeeee;
  color: var(--title-text-color);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-item:hover,
.button-item:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-item {
  display: block;
  box-sizing: border-box;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.cards-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-link:hover .card-overlay,
.portfolio-link:focus .card-overlay {
  transform: translateY(0%);
}

.card-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  /* overflow: auto; */
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card {
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 24px;
  padding-bottom: 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-title {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-text {
  color: var(--primary-text-color);
}
